services:
  static_hosting:
    image: nginx
    volumes:
      - ./frontend/dist:/usr/share/nginx/html:ro
      - ./settings/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 80:80
      
  backend:
    image: couchdb:3
    ports:
      - 5984:5984
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=admin
    healthcheck:
      test: curl -f http://localhost:5984/_up || exit 1
      start_period: 10s
      start_interval: 2s
      
  accessible_backend:
    image: curlimages/curl
    entrypoint: ["/bin/sh", "-c"]
    volumes:
      - ./settings/by_route.json:/by_route.json:ro
    command:
      - |
        alias put="curl -X PUT -u 'admin:admin'"
        
        echo "Configuration CORS..."
        put backend:5984/_node/nonode@nohost/_config/chttpd/enable_cors --data '"true"'
        put backend:5984/_node/nonode@nohost/_config/cors/origins --data '"*"'
        put backend:5984/_node/nonode@nohost/_config/cors/credentials --data '"true"'
        put backend:5984/_node/nonode@nohost/_config/cors/methods --data '"GET, PUT, POST, HEAD, DELETE"'
        put backend:5984/_node/nonode@nohost/_config/cors/headers --data '"accept, authorization, content-type, origin, referer"'
        
        echo "Creation des bases de donnees..."
        put backend:5984/_users
        put backend:5984/_replicator
        put backend:5984/ecotrain
        
        echo "Configuration des permissions..."
        put backend:5984/ecotrain/_security --data '{"members":{"roles":[]},"admins":{"roles":["_admin"]}}'
        
        echo "Creation de l'index..."
        curl -X POST http://backend:5984/ecotrain/_index \
          -H "Content-Type: application/json" \
          -d @/by_route.json \
          -u 'admin:admin'
        
        echo "Configuration terminee"
    depends_on:
      backend:
        condition: service_healthy
        
  updated_samples:
    image: curlimages/curl
    entrypoint: ["/bin/sh", "-c"]
    volumes:
      - ./frontend/dist/sample_data.json:/sample_data.json:ro
    command:
      - |
        echo "Envoi des donnees d'exemple..."
        curl -X POST http://backend:5984/ecotrain/_bulk_docs \
          -H "Content-Type: application/json" \
          -d @/sample_data.json \
          -u 'admin:admin'
        echo "Donnees envoyees"
    depends_on:
      accessible_backend:
        condition: service_completed_successfully