button{
  text-align:center;
  vertical-align: middle;
}

main {
  max-width: 75%;
  margin:auto
}

header {
  text-align:center;
  max-width: 75%;
  margin:auto;
  padding:1em
}

form {
  background-color:var(--pico-color-orange-100);
  padding:2em;
  border-radius:0.5em;
  border-color:black;
  border: solid 2px var(--pico-primary-background)
}

.trip-details {
  background-color:var(--pico-color-orange-100);
  padding:2em;
  border-radius:0.5em;
  border-color:black;
  border: solid 2px var(--pico-primary-background)
}

.tripresult{
  background-color:var(--pico-color-orange-100);
  margin:10px 10px;
  padding:10px 10px;
}

.header-title > h1 > a, .back-button {
  --pico-text-decoration: none;
}

.pay-button {
  text-align:center
}

.search-bar {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  max-width:50%;
  margin:auto;
  text-align:center;
  padding:1em
}

div > button {
  text-align:center;
  margin:auto;
}

.class-option.selected{
  background: var(--pico-primary-background);
  color: var(--pico-primary-inverse);
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  font-weight:600;
}