name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  start-and-test:
    uses: ./.github/workflows/app-start.yml

  run-tests:
    needs: start-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      # Ici, l’application est déjà démarrée par app-start.yml
      # On effectue simplement les tests propres à test.yml

      - name: Wait for app to respond
        uses: docker://benel/wait-for-response:1
        with:
          args: http://localhost/ 200 30000 500

      - name: Verify home page returns HTML
        run: curl --silent http://localhost
