name: Test
on:
  push:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download sources
        uses: actions/checkout@v4

      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install frontend dependencies
        run: |
          cd frontend
          npm install

      - name: Generate sample_data.json (scaled data)
        run: |
          npx --yes dummy-json sample_data.hbs > frontend/public/sample_data.json

      - name: Build frontend
        run: |
          cd frontend
          npm run build

      - name: Save built frontend
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: frontend/dist

  measure_ecoindex:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download sources
        uses: actions/checkout@v4

      - name: Download built frontend
        uses: actions/download-artifact@v4
        with:
          name: frontend-build
          path: frontend/dist

      - name: Start application (Docker Compose + Wait)
        run: |
          docker compose up --detach

          echo "Waiting for http://localhost ..."
          for i in {1..40}; do
            curl --silent --fail --max-time 5 http://localhost >/dev/null 2>&1
            if [ $? -eq 0 ]; then
              echo "Application is ready!"
              exit 0
            fi
            echo "Still waiting... ($i/40)"
            sleep 3
          done

          echo "ERROR: Application did not start in time."
          exit 1

      - name: Install GreenIT Analysis CLI
        run: |
          wget https://github.com/cnumr/GreenIT-Analysis-cli/archive/refs/heads/master.zip
          unzip master.zip
          cd GreenIT-Analysis-cli-master
          npm install
          npm link

      - name: Run GreenIT Analysis
        run: |
          greenit analyse --format html --ci scenarios/buy_train_ticket.yml

      - name: Upload EcoIndex report
        uses: actions/upload-artifact@v4
        with:
          name: EcoIndex-Report
          path: Acheterunbilletdetrain.html
