name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1) Télécharger le code
      - name: Checkout source code
        uses: actions/checkout@v5

      # 2) Installer NodeJS pour le frontend
      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      # 3) Installer les dépendances du frontend
      - name: Install frontend dependencies
        run: |
          cd frontend
          npm install

      # 4) Build du frontend
      - name: Build frontend
        run: |
          cd frontend
          npm run build

      # 5) Construire les images Docker
      - name: Build Docker images
        run: |
          docker compose build

      # 6) Lancer l’application
      - name: Start application
        run: |
          docker compose up --detach

      # 7) Attendre que l’application réponde
      - name: Wait for app to start
        uses: docker://benel/wait-for-response:1
        with:
          args: http://localhost/ 200 30000 500

      # 8) Vérifier que le site renvoie quelque chose
      - name: Verify home page
        run: curl --silent http://localhost
