name: Test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1) Télécharger le code
      - name: Download sources
        uses: actions/checkout@v5

      # 2) Installer Node.js
      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      # 3) Installer les dépendances
      - name: Install frontend dependencies
        run: |
          cd frontend
          npm install

      # 4) Construire l'application
      - name: Build frontend
        run: |
          cd frontend
          npm run build

      # 5) Vérifier que Docker Compose est disponible
      - name: Check docker compose
        run: docker compose version

      # 6) Démarrer Nginx + ton application
      - name: Start frontend
        run: |
          docker compose up --detach

      # 7) Attendre que l'application réponde
      - name: Wait for frontend
        uses: docker://benel/wait-for-response:1
        with:
          args: http://localhost/ 200 30000 500

      # 8) Vérifier que la page d'accueil répond vraiment
      - name: Watch frontend initial payload
        run: curl --silent http://localhost
